# docker-compose.yml
version: '3.8'

services:
  streamlit-app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    volumes:
      - ./models:/workspace/models
      - ./data:/app/data
    environment:
      - MODEL_BASE_PATH=/workspace/models
      - MILVUS_URI=https://in03-f2c7c2ce6a1bdff.serverless.ali-cn-hangzhou.cloud.zilliz.com.cn
      - MILVUS_USER=db_f2c7c2ce6a1bdff
      - MILVUS_PASSWORD=Ga7(rHn0xu(Uud
      - MILVUS_TOKEN=85afa5d1098a63edeefad6c703e22e1bf9d8aa6cacdad29adf5fe13e82df4b4d647d646530fe098f79f0dc70da223673855f2b3d
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped
    stdin_open: true
    tty: true